* {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  background: #895d2d;
  transition: background-color 300ms ease-in-out;
  line-height: 1.5;
}

.container {
  color: #482e1d;
  max-width: 640px;
}

.working {
  background: #482e1d;
}

.hidden {
  display: none;
}

.pomodoro {
  background: #f0faae;
  margin: 50px 20px;
  padding: 20px;
  border-radius: 30px;
  box-shadow: 0 0 20px #f0faae;
}

.pomodoro h2 {
  font-size: 34px;
  text-align: center;
  text-shadow: 0 0 20px #482e1d;
}

.pomodoro .timer {
  padding: 40px;
  font-size: 40px;
  text-align: center;
  color: #90553c;
}

.pomodoro .controls {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.pomodoro button {
  background: #895d2d;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  padding: 10px;
  color: #f0faae;
  text-align: center;
  font-size: 15px;
  margin: 20px auto;
  width: 110px;
}

.pomodoro button:hover {
  border: none;
  border-radius: 50px;
  cursor: pointer;
  padding: 10px;
  color: #f0faae;
  text-align: center;
  transition: background-color 600ms ease-in-out;
  box-shadow: 0 0 20px #895d2d;
  margin: 20px auto;
  width: 110px;
}

.working .pomodoro button {
  background: #482e1d;
  border: none;
  border-radius: 50px;
  width: 90px;
  cursor: pointer;
  padding: 10px 25px;
  color: #f0faae;
  text-align: center;
  font-size: 18px;
  margin: 20px auto;
}

.pomodoro .details {
  margin: 20px 0;
}
